<!-- Single column demo -->
<div app-align-content layout="row" layout-align="center start" layout-wrap>
  <!-- First column -->
  <div card-column-1 layout="column">
    <md-card card-spacing>test <br /></md-card>
    <md-card card-spacing>test  <br />test <br /></md-card>
    <md-card card-spacing>test <br />test <br />test <br /></md-card>
  </div>
</div>

<!-- Two column demo -->
<div app-align-content layout="row" layout-align="center start" layout-wrap>
  <!-- First column -->
  <div card-column-2 layout="column">
    <md-card card-spacing>test <br /></md-card>
    <md-card card-spacing>test  <br />test <br /></md-card>
    <md-card card-spacing>test <br />test <br />test <br /></md-card>
  </div>
  <!-- Second column -->
  <div card-column-2 layout="column">
    <md-card card-spacing>test <br />test <br />test <br /></md-card>
    <md-card card-spacing>test <br />test <br /></md-card>
    <md-card card-spacing>test <br />
    </md-card>
  </div>
</div>

<!-- Three column demo -->
<div app-align-content layout="row" layout-align="center start" layout-wrap>
  <!-- First column -->
  <div card-column-3 layout="column">
    <md-card card-spacing>test <br /></md-card>
    <md-card card-spacing>test  <br />test <br /></md-card>
    <md-card card-spacing>test <br />test <br />test <br /></md-card>
  </div>
  <!-- Second column -->
  <div card-column-3 layout="column">
    <md-card card-spacing>test <br />test <br />test <br /></md-card>
    <md-card card-spacing>test <br />test <br /></md-card>
    <md-card card-spacing>test <br />
    </md-card>
  </div>
  <!-- Third column -->
  <div card-column-3 layout="column">
    <md-card card-spacing>test <br /></md-card>
    <md-card card-spacing>test  <br />test <br /></md-card>
    <md-card card-spacing>test <br />test <br />test <br /></md-card>
  </div>
</div>

<!-- Four column demo -->
<div app-align-content layout="row" layout-align="center start" layout-wrap>
  <!-- First column -->
  <div card-column-4 layout="column">
    <md-card card-spacing>test <br /></md-card>
    <md-card card-spacing>test  <br />test <br /></md-card>
    <md-card card-spacing>test <br />test <br />test <br /></md-card>
  </div>
  <!-- Second column -->
  <div card-column-4 layout="column">
    <md-card card-spacing>test <br />test <br />test <br /></md-card>
    <md-card card-spacing>test <br />test <br /></md-card>
    <md-card card-spacing>test <br /></md-card>
  </div>
  <!-- Third column -->
  <div card-column-4 layout="column">
    <md-card card-spacing>test <br /></md-card>
    <md-card card-spacing>test  <br />test <br /></md-card>
    <md-card card-spacing>test <br />test <br />test <br /></md-card>
  </div>
  <!-- Fourth column -->
  <div card-column-4 layout="column">
    <md-card card-spacing>test <br />test <br />test <br /></md-card>
    <md-card card-spacing>test <br />test <br /></md-card>
    <md-card card-spacing>test <br /></md-card>
  </div>
</div>

<!-- Mixed column demo -->
<div app-align-content layout="row" layout-align="center start" layout-wrap>
  <div card-column-2 layout = "column">
    <md-card card-spacing>test <br /></md-card>
    <md-card card-spacing>test  <br />test <br /></md-card>
    <md-card card-spacing>test <br />test <br />test <br /></md-card>
  </div>
  <div card-column-3>
    <md-card card-spacing>test <br />test <br />test <br /></md-card>
    <md-card card-spacing>test <br />test <br /></md-card>
    <md-card card-spacing>test <br /></md-card>
  </div>
  <div card-column-4 layout = "column">
    <md-card card-spacing>test <br /></md-card>
    <md-card card-spacing>test  <br />test <br /></md-card>
    <md-card card-spacing>test <br />test <br />test <br /></md-card>
  </div>
</div>
